{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}        
<header>
    <div class="site-identity">
        <a href="{{ SITEURL }}" id="site-title">{{ SITENAME }}</a>
        {% if SITESUBTITLE %}<span id="site-subtitle">{{ SITESUBTITLE }}</span>{% endif %}
    </div>
    <h1><a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
    {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
</header>
<article>
    {{ article.content }}
</article>
{% endblock %}
